<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header logo">
      <h3><img src="/img/logo.png" alt="logo" /> Office DJ</h3>
      <h3><a href="/">Sign In</a></h3>
      <h3><a href="http://accounts.spotify.com/authorize/?client_id=61e71b2d2d504c6483535caa51c055b6&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4567%2Fauth%2Fspotify%2Fcallback%2F&scope=playlist-modify-public%20user-read-birthdate%20user-read-email%20user-read-private%20playlist-modify-private%20playlist-read-private&state=34fFs29kd09">Authorize Office DJ To Create Spotify Playlist</a></h3>
    </div>
    <div class="nav navbar-nav navbar-right">
      <h2><%= @user.username %></h2>
      <h5><a href="/logout">Sign Out</a></h5>
    </div>
  </div>
</nav>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 col well">
      <div class="well">
        <p><%=@user.username%></p>
        <img src="/img/photo.jpeg" class="img-circle" height="65" width="65" alt="Avatar">
        <p>
          <br>
          Level <%= 1 + (@dj.djscore / 4) %>
        </p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:<%= (@dj.djscore % 4) * 25 %>%">
          </div>
        </div>
      </div>
      <div class="well top-votes">
        <p><strong>Top Upvotes</strong></p>
          <% if @top_songs %>
            <ul>
              <% @top_songs.each do |song| %>
                <li><%= Library.find(song.library_id).name %> - Votes: <%= song.spin_score %></li>
              <% end %>
          </ul>
          <% else %>
        <% end %>
      </div>
      <div class="well team-channel">
        <h3>Team Channel</h3>
        <% if @djs.any? %>
        <ul>
          <% @djs.each do |dj|%>
          <li><%= dj.name%> - Level <%= 1 + (dj.djscore / 4) %></li>
          <%end%>
        </ul>
        <%end%>
      </div>
    </div>
    <div class="col-sm-5 col well">
      <% if @dj.requests > 0 %>
        <h3>Search for Your Song:</h3>
        <form class="form group" action="/song" method="post">
          <input class="col-sm-10 input-sm search-field" type="text" name="name">
          <button type="submit" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <br>
        <div class="well">
          <h3>Your Search Results:</h3>
          <% if @songs.any? %>
          <ul>
            <% @songs.each do |track| %>
            <li>
              <form class="" action="/song/<%=@dj.id%>" method="post">
                <input type="hidden" name="libraryId" value="<%=track.id %>">
                <button id="playlist_submit" type="submit" name="button"><%= track.artist %> - <%= track.name %></button>
              </form>
            </li>
            <% end %>
          </ul>
          <% else %>
          <p> No results</p>
          <% end %>
          <br><br><br><br><br>
        </div>
      <% else %>
        <h3>You have run out of requests</h3>
      <% end %>
      <div class="well up-next">
        <h3>Voting Pool:</h3>
          <% if @vote_list %>
          <ul>
            <% @vote_list.each do |song| %>
            <li>@<%= Dj.find(song.dj_id).name%>: <%= Library.find(song.library_id).artist %> - <%= Library.find(song.library_id).name %> - Votes: <%= song.spin_score %>
            <% if song.djs.exclude?(@dj) %>
              <form class="voting" action="/song/<%= song.id %>/<%= @user.id %>/downvote" method="post">
                <input type="hidden" name="_method" value="patch">
                <button class="btn-warning" type="submit" name="button"><span class="glyphicon glyphicon-volume-down"></span></button>
              </form>
              <form class="voting" action="/song/<%= song.id %>/<%= @user.id %>/upvote" method="post">
                <input type="hidden" name="_method" value="patch">
                <button class="btn-primary" type="submit" name="button"><span class="glyphicon glyphicon-volume-up"></span></button>
              </form>
            <% end %>
            <% if @dj.vetos != 0 %>
              <form class="voting" action="/song/<%= song.id %>/<%= @user.id %>/veto" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="btn-danger" type="submit" name="button"><span class="glyphicon glyphicon-volume-off"></span></button>
              </form>
            <% end %>
            </li>
            <% end %>
          </ul>
          <% else %>
          <p>There are no songs in the queue.</p>
          <% end %>
      </div>
    </div>
    <div class="col-sm-4 col well">
      <div class="thumbnail">
        <h3>Now Playing: DJ <%=@user.username%></h3>
        <% if @playlist.length > 0 && @songs.length > 0 %>
          <img src="<%= Library.find(@now_playing.library_id).image %>" alt="album" width="400" height="300">
          <p><strong><%= Library.find(@now_playing.library_id).artist %></strong></p>
          <p><%= Library.find(@now_playing.library_id).name %></p>
        <% else %>
          <img src="/img/logo.png" alt="album" width="400" height="300">
        <% end %>
        <% if @vote_list.length > 0 && @songs.length > 0 %>
          <% if @role == 'Administrator'%>
            <div class='embed-container'>
              <iframe src="https://embed.spotify.com/?uri=<%=@current_song%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
          <% else %>
            <h5>Team Members do not have access to the player</h5>
          <% end %>
        <% else %>
        <% end %>
      </div>
      <div class="well up-next">
        <h3>Playlist:</h3>
          <% if @playlist.length > 0 %>
          <ul>
            <% @playlist.each do |song| %>
                 <!-- RSpotify.authenticate("61e71b2d2d504c6483535caa51c055b6", "4b8975a6516644b49359399b2cd30d23")
                playlist = RSpotify::Playlist.find('stok0102', '1ZStRQRmHMNo7awMwtCIeI')
                binding.pry
                playlist.add_tracks!([Library.find(song.library_id)], position: 0) %> -->
              <li><%= Dj.find(song.dj_id).name%>: <%= Library.find(song.library_id).artist %> - <%= Library.find(song.library_id).name %>
              </li>
            <% end %>
          </ul>
          <% else %>
          <p>There are no songs in the queue.</p>
          <% end %>
      </div>
    </div>
  </div>
</div>
